In [63]:
import pandas as pd
from sqlalchemy import create_engine, types

In [64]:
engine = create_engine('postgresql://admin:1234@localhost:5432/Teste1')

In [65]:
df = pd.read_csv('/home/arthur/Documents/Projects/teste-postgrees/Netflix Inc. (NFLX) Stock Price 2002-2025.csv')

In [66]:
df.info()
df.columns = [col.strip () for col in df.columns]
print(df.columns.tolist())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5729 entries, 0 to 5728
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5729 non-null   object
 1   Open       5729 non-null   object
 2   High       5727 non-null   object
 3   Low        5727 non-null   object
 4   Close      5727 non-null   object
 5   Adj Close  5727 non-null   object
 6   Volume     5727 non-null   object
dtypes: object(7)
memory usage: 313.4+ KB
['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

In [67]:
database_df = pd.DataFrame(columns=['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'])

In [68]:
#create table
database_df.to_sql('database_df', con=engine, if_exists='replace', index=False)

print('tabelas criadas com sucesso!')

tabelas criadas com sucesso!

In [69]:
dtype_dict = {col: types.Text for col in df.columns}

In [70]:
df.to_sql('database_df', con=engine, if_exists='append', index=False, dtype=dtype_dict)
print('Dados inseridos com sucesso!')

Dados inseridos com sucesso!

In [77]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
print(df['Date'].dtype)

datetime64[ns]

In [75]:
df.to_sql('database_df', con=engine, if_exists='replace', index=False, dtype=dtype_dict)
print('dados inseridos com sucesso!')

dados inseridos com sucesso!